<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.physis.kit.module">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mqtt.RelayMqttActivity"></activity>
        <activity android:name=".mqtt.LedButtonMqttActivity" />
        <activity android:name=".mqtt.BuzzerMqttActivity" />
        <activity android:name=".mqtt.IlluminationMqttActivity" />
        <activity android:name=".mqtt.DTH22MqttActivity" />
        <activity android:name=".ble.RelayBleActivity" />
        <activity android:name=".ble.LedButtonBleActivity" />
        <activity android:name=".ble.BuzzerBleActivity" />
        <activity android:name=".ble.IlluminationBleActivity" />
        <activity android:name=".ble.DTH22BleActivity" />
        <activity android:name=".MenuActivity" />
        <activity
            android:name=".IntroActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>